{{ define "main" }}

<style>
.aboutUs-background-image {
    background-image: url("{{ .Site.Params.tracking.cloudinary_url }}{{ .Page.Params.mainPageImage }}");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: center;
}
.page-content p {
    padding-bottom: 2rem!important;
}
</style>

<div class="flex flex-wrap pt-24 pb-20 lg:pb-80">
    <div class="flex flex-wrap w-4/5 lg:w-2/3 mx-auto">
        <div class="w-full lg:w-1/2">
            <div class="font-DIN-Medium text-2xs uppercase"> <a href="/" class="hover:text-color-D2232A">HOME</a> <i class="px-2 fas fa-angle-right"></i> About Us</div>
            <h1 class="font-DIN-Bold text-4halfxl text-color-171511 pb-2">{{ .Params.pageTitle }}</h1>
            <div class="font-DIN-Regular text-xl text-color-171511 pr-8 page-content">
                {{ .Content }}
            </div>
            <a href="{{ .Params.buttonLink }}" class="bg-color-D2232A hover:bg-color-A61C21 active:bg-color-7B1419 text-white font-DIN-Regular text-base py-2 px-5 no-underline rounded-sm tracking-wide">{{ .Params.buttonText }}</a>
        </div>
        <div class="hidden lg:block w-1/2 mx-auto aboutUs-background-image">
            <div class="py-40"></div>
        </div>
    </div>
</div>


{{ end }}