{{ define "main" }}

<style>
.aboutUs-background-image {
    background-image: url("/pageimg/about-aplusr-usa.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: center;
}
</style>

<div class="flex flex-wrap pt-24 pb-20 lg:pb-80">
    <div class="flex flex-wrap w-4/5 lg:w-2/3 mx-auto">
        <div class="w-full lg:w-1/2">
            <div class="font-DIN-Medium text-2xs uppercase"> <a href="/" class="hover:text-color-D2232A">HOME</a> <i class="px-2 fas fa-angle-right"></i> About Us</div>
            <h1 class="font-DIN-Bold text-4halfxl text-color-171511 pb-2">About A+R USA</h1>
            <p class="font-DIN-Regular text-xl text-color-171511 pb-8 pr-8">A+R Valve USA, LLC is the exclusive North American master distributor for A+R Armaturen Ball Valves. A+R USA maintains a large inventory of both Teflon and Metal Seated Valves for immediate delivery and can meet all of your manual and automated ball valve requirements.</p>
            <p class="font-DIN-Regular text-xl text-color-171511 pb-8 pr-8">A+R Armaturen of Germany manufactures Soft Seated valves is sizes 1/2" - 14" and ANSI Classes 150#, 300# and 600#. In addition, A+R Armaturen manufacturers Metal Seated valves in sizes 1/2" - 12" in ANSI Classes 150# -1500#. We also have the ability to provide cast alloys typically in a few weeks since we keep large inventories of finished castings in Duplex, Super Duplex and Hastelloy C. Other alloys are available with with slightly longer lead times.</p>
            <p class="font-DIN-Regular text-xl text-color-171511 pb-8 pr-8">What can we do to help you? Call us today for help specifying and selecting ball valves for your application.</p>
            <a href="/contact-us/" class="bg-color-D2232A hover:bg-color-A61C21 active:bg-color-7B1419 text-white font-DIN-Regular text-base py-2 px-5 no-underline rounded-sm tracking-wide">Contact Us</a>
        </div>
        <div class="hidden lg:block w-1/2 mx-auto aboutUs-background-image">
            <div class="py-40"></div>
        </div>
    </div>
</div>


{{ end }}