{{ define "main" }}

<style>
.aboutUs-background-image {
    background-image: url("/pageimg/about-aplusr-usa.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-x: center;
}
</style>

<div class="flex flex-wrap pt-24 pb-20 lg:pb-80">
    <div class="flex flex-wrap w-4/5 lg:w-2/3 mx-auto">
        <div class="flex flex-wrap w-full lg:w-1/2 pb-20 lg:pb-0">
            <div class="w-full font-DIN-Medium text-2xs uppercase"> <a href="/" class="hover:text-color-D2232A">HOME</a> <i class="px-2 fas fa-angle-right"></i> Contact Us</div>
            <h1 class="w-full font-DIN-Bold text-4halfxl text-color-171511 pb-2">Contact Us</h1>
            <p class="w-full font-DIN-Regular text-xl text-color-171511 pb-8 pr-8">We would love to help you in any way we can. Whether you need a like kind replacement of an existing ball valve, a new application or maybe even a nagging, problem application, A+R Valve USA would like to help! Please phone us or fill out this general inquiry form and we will respond to your promptly!</p>
            <div class="w-1/2 pb-8">
                <h6 class="font-DIN-Medium text-base text-color-D2232A">Phone</h6>
                <p class="font-DIN-Regular text-xl text-color-171511">{{ .Site.Params.contact_numbers.Phone }}</p>
            </div>
            <div class="w-1/2 pb-8">
                <h6 class="font-DIN-Medium text-base text-color-D2232A">Email</h6>
                <p class="font-DIN-Regular text-xl text-color-171511">{{ .Site.Params.email.email }}</p>
            </div>
            <div class="w-full pb-8">
                <h6 class="font-DIN-Medium text-base text-color-D2232A">Mailing Address</h6>
                <p class="font-DIN-Regular text-xl text-color-171511">{{ .Site.Title }}</p>
                <p class="font-DIN-Regular text-xl text-color-171511">{{ .Site.Params.address.mailStreet }}</p>
                <p class="font-DIN-Regular text-xl text-color-171511"> {{ .Site.Params.address.city }},{{ .Site.Params.address.state }} {{ .Site.Params.address.mailZip }}</p>
            </div>
            <div class="w-full">
                <h6 class="font-DIN-Medium text-base text-color-D2232A">Physical Address</h6>
                <p class="font-DIN-Regular text-xl text-color-171511">{{ .Site.Title }}</p>
                <p class="font-DIN-Regular text-xl text-color-171511">{{ .Site.Params.address.street }} {{ .Site.Params.address.city }},{{ .Site.Params.address.state }} {{ .Site.Params.address.zip }}</p>
            </div>
        </div>
        <div class="flex flex-wrap w-full lg:w-1/2 items-start mx-auto">
        <form class="flex flex-wrap" action="/thank-you" netlify-honeypot="field-for-coolguys" name="general-contact" method="POST" netlify>
            <input type="hidden" name="subject" value="Contact from Website" />
            <div class="flex flex-wrap w-full lg:w-1/2 pb-6">
                <label class="w-full font-DIN-Medium text-base text-color-171511">First Name</label>
                <input name="first-name" type="text" placeholder="First Name" class="w-full lg:w-11/12 border border-color-CCCCCC focus:border-color-D2232A outline-none px-2 py-2" required>
            </div>
            <div class="flex flex-wrap w-full lg:w-1/2 pb-6">
                <label class="w-full font-DIN-Medium text-base text-color-171511">Last Name</label>
                <input name="last-name" type="text" placeholder="Last Name" class="w-full lg:w-11/12 border border-color-CCCCCC focus:border-color-D2232A outline-none px-2 py-2" required>
            </div>
            <div class="flex flex-wrap w-full lg:w-1/2 pb-6">
                <label class="w-full font-DIN-Medium text-base text-color-171511">Phone</label>
                <input name="phone-number" type="tel" placeholder="Phone" class="w-full lg:w-11/12 border border-color-CCCCCC focus:border-color-D2232A outline-none px-2 py-2" required>
            </div>
            <input type="text" name="field-for-coolguys" style="display:none" />
            <div class="flex flex-wrap w-full lg:w-1/2 pb-6">
                <label class="w-full font-DIN-Medium text-base text-color-171511">Email</label>
                <input name="email" type="email" placeholder="Email" class="w-full lg:w-11/12 border border-color-CCCCCC focus:border-color-D2232A outline-none px-2 py-2" required>
            </div>
            <div class="w-full pb-6">
                <label class="w-full font-DIN-Medium text-base text-color-171511">Message</label>
                <textarea name="contact-message" type="text" placeholder="Message" class="w-full h-32 border border-color-CCCCCC focus:border-color-D2232A outline-none px-2 py-2" required></textarea>
            </div>
            <input type="submit" value="Submit" class="ml-auto bg-color-D2232A hover:bg-color-A61C21 active:bg-color-7B1419 text-white font-DIN-Regular text-base py-2 px-5 no-underline rounded-sm tracking-wide hover:cursor-pointer">
        </form>
        </div>
    </div>
</div>


{{ end }}