{{ define "main" }}

<style>
.product-background-image {
    background-image: url("{{ .Params.mainPageImage }}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
.illustration-background {
    background-image: url("/pageimg/AVI.A+R.RedBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
  }
.KHF710-background {
    background-image: url("{{ .Params.illustrationImage }}");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 250px 0 250px 0;
  }
@media screen and (min-width:768px) {
.KHF710-background {
    background-size: 55%;
    padding: 300px 0 300px 0;
  }
}
@media screen and (min-width:992px) {
.KHF710-background {
    padding: 400px 0 500px 0;
  }
}
@media screen and (min-width:1440px) {
.KHF710-background {
    padding: 400px 0 500px 0;
  }
}
</style>

<div class="flex flex-wrap pt-24 pb-80">
    <div class="flex flex-wrap w-full items-center mx-auto">
        <div class="w-full md:w-5/6 lg:w-3/4 mx-6 md:mx-24 lg:mx-56">
            <div class="font-DIN-Medium text-2xs uppercase"> <a href="/" class="hover:text-color-D2232A">HOME</a> <i class="px-2 fas fa-angle-right"></i> Metal Seated <i class="px-2 fas fa-angle-right"></i> KHF 710</div>
            <h1 class="font-DIN-Bold text-4halfxl text-color-171511 leading-none">{{ .Params.pageTitle }}</h1>
        </div>
        <div class="w-5/6 lg:w-1/3 mx-auto my-16 product-background-image">
            <div class="py-40"></div>
        </div>
        <div class="w-5/6 lg:w-1/3 mx-auto lg:mx-0 lg:mr-auto">
            <div class="pb-3">
                <h2 class="font-DIN-Bold text-2xl text-color-171511">{{ .Params.pageListTitle }}</h2>
            </div>
            <ul class="font-DIN-Regular text-base text-color-171511 list-disc list-inside">
                {{ range .Params.pageList }}
                <li><span class="-ml-1">{{ . }}</span></li>
                {{ end }}
            </ul>
            <div class="pt-6">
                <a href="{{ .Params.moreInfoLink }}" class="bg-color-D2232A hover:bg-color-A61C21 active:bg-color-7B1419 text-white font-DIN-Regular text-base py-2 px-5 no-underline rounded-sm tracking-wide">{{ .Params.moreInfoText }}</a>
                <a href="{{ .Params.orderNowLink }}" class="bg-color-D2232A hover:bg-color-A61C21 active:bg-color-7B1419 text-white font-DIN-Regular text-base py-2 px-5 no-underline rounded-sm tracking-wide">{{ .Params.orderNowText }}</a>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-wrap pb-32 illustration-background">
    <div class="relative flex flex-wrap w-full bg-white -mt-48 mx-2 md:mx-10 xxl:mx-20 text-center shadow-2xl border border-color-EDEDED KHF710-background">
        <h2 class="absolute top-0 pt-12 pl-16 md:pl-24 font-DIN-Bold text-4halfxl text-color-171511">{{ .Params.illustrationTitle }}</h2>
        <p class="w-72 absolute top-0 mt-40 ml-24 font-DIN-Regular text-base xl:text-lg xxl:text-xl text-left hidden lg:block">{{ .Params.illustrationInfo.topLeft }}</p>
        <p class="w-72 absolute top-0 right-0 mt-72 xxl:mt-48 mr-24 font-DIN-Regular text-base xl:text-lg xxl:text-xl text-right hidden lg:block">{{ .Params.illustrationInfo.topRight }}</p>
        <p class="w-72 absolute pl-24 font-DIN-Regular text-base xl:text-lg xxl:text-xl text-left hidden lg:block">{{ .Params.illustrationInfo.centerLeft }}</p>
        <p class="w-72 absolute right-0 mt-56 xl:mt-20 xxl:mt-5 mr-24 font-DIN-Regular text-base xl:text-lg xxl:text-xl text-right hidden lg:block">{{ .Params.illustrationInfo.centerRight }}</p>
        <p class="w-72 absolute bottom-0 pb-20 xl:pb-16 ml-24 font-DIN-Regular text-base xl:text-lg xxl:text-xl text-left hidden lg:block">{{ .Params.illustrationInfo.bottomLeft }}</p>
        <p class="w-72 absolute bottom-0 right-0 pb-20 xl:pb-16 mr-24 font-DIN-Regular text-base xl:text-lg xxl:text-xl text-right hidden lg:block">{{ .Params.illustrationInfo.bottomRight }}</p>
    </div>
    <div class="lg:hidden relative flex flex-wrap w-full bg-white -mt-12 sm:-mt-5 mx-2 md:mx-10 xxl:mx-20 p-8 text-center">
        <ul class="font-DIN-Regular text-base text-color-171511 list-disc list-inside text-left">
            <li class="pb-4"><span class="-ml-1">{{ .Params.illustrationInfo.topLeft }}</span></li>
            <li class="pb-4"><span class="-ml-1">{{ .Params.illustrationInfo.topRight }}</span></li>
            <li class="pb-4"><span class="-ml-1">{{ .Params.illustrationInfo.centerLeft }}</span></li>
            <li class="pb-4"><span class="-ml-1">{{ .Params.illustrationInfo.centerRight }}</span></li>
            <li class="pb-4"><span class="-ml-1">{{ .Params.illustrationInfo.bottomLeft }}</span></li>
            <li><span class="-ml-1">{{ .Params.illustrationInfo.bottomRight }}</span></li>
        </ul>
    </div>
</div>

{{ end }}