{{ define "main" }}
<style></style>

<section id="thank-you" class="flex pb-32">
  <div class="flex w-full bg-white text-center">
  <div class="w-5/6 mx-auto text-black pt-32">
    <h1 class="font-DIN-Medium text-2xl lg:text-4xl pb-4"><span class="bg-color-D2232A text-white p-1 italic">Thank you!</span> your submission has been received.</h1>
    <h2 class="font-DIN-Medium text-lg lg:text-2xl font-thin pb-6">We will be in touch shortly.</h2>
    <a href="/" class="font-DIN-Medium bg-color-D2232A hover:bg-color-A61C21 text-base lg:text-xl text-white rounded py-2 px-4 no-underline">Return to Home Page</a>
  </div>
  </div>
</section>

{{ end }}