@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "aos/dist/aos.css";
@import "./styleTools/bootstrapDropdown.css";

@font-face {
  font-family: DIN-Regular;
  src: url("/fonts/DIN-Regular.woff") format("woff");
}

@font-face {
  font-family: DIN-Medium;
  src: url("/fonts/DIN-Medium.woff") format("woff");
}

@font-face {
  font-family: DIN-Bold;
  src: url("/fonts/DIN-Bold.woff") format("woff");
}

.body-wrapper {
  max-width: 1440px;
  margin: auto;
}

.mobile-menu-toggle {z-index: 999!important;opacity: 1.0!important;}.desktop-menu {display:none;}@media screen and (min-width:992px) {.stick {display: block;}.mobile-menu-button {display: none;}.desktop-menu {display:block;}}

.mobile-menu {
  z-index: -999;
  opacity: 0;
  position:absolute;
  width:100%;
  top: 0;
  left: 0;
  right: 0;
  transition: .2s;
}

.mobile-menu-button button {
  background-color: transparent;
  border-color: transparent;
}