{{ define "main" }}

<style>

</style>

<div class="container flex flex-wrap h-100 mx-auto text-center items-center pt-20 pb-32">
  <div class="w-5/6 md:w-2/3 mx-auto text-center pb-12">
    <h1 class="font-DIN-Bold text-color-D2232A text-4.5xl pb-3">Coming Soon</h1>
    <h2 class="font-DIN-Regular text-color-171511 text-xl">Please bear with us. Our website will be live on May 15th.</h2>
  </div>
  <div class="flex flex-wrap w-5/6 md:w-1/2 mx-auto">
    <h3 class="w-full font-DIN-Medium text-color-D2232A text-2xs uppercase text-center pb-4">Contact Us</h3>
    <div class="w-full md:w-1/2 lg:w-1/3 text-center md:text-left ml-auto pb-8 md:pb-0">
      <p class="font-DIN-Regular text-color-171511 text-base leading-normal">Bryce Bunting</p>
      <p class="font-DIN-Regular text-color-171511 text-base leading-normal">North American Sales</p>
      <a href="tel:{{ .Site.Params.Contact_Numbers.Phone }}" class="font-DIN-Regular text-color-171511 text-base leading-normal no-underline hover:opacity-75">{{ .Site.Params.Contact_Numbers.Phone }}</a>

      <br>

      <a href="tel:{{ .Site.Params.Contact_Numbers.Secondary_Phone }}" class="font-DIN-Regular text-color-171511 text-base leading-normal no-underline hover:opacity-75">{{ .Site.Params.Contact_Numbers.Secondary_Phone }}</a>

      <br>

      <a href="mailto:{{ .Site.Params.Email.Email }}" class="font-DIN-Regular text-color-171511 text-base leading-normal no-underline hover:opacity-75">{{ .Site.Params.Email.Email }}</a>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/3 text-center md:text-left mr-auto">
      <p class="font-DIN-Regular text-color-171511 text-base leading-normal">{{ .Site.Title }}</p>
      <p class="font-DIN-Regular text-color-171511 text-base leading-normal">{{ .Site.Params.Address.Street }}</p>
      <p class="font-DIN-Regular text-color-171511 text-base leading-normal">{{ .Site.Params.Address.City }}, {{ .Site.Params.Address.State }}  {{ .Site.Params.Address.Zip }}</p>
    </div>
  </div>
</div>

{{ end }}