<style>
.contact-button {
  transition: .2s;
}
</style>

<div id="header-functions">

<section id="header" class="header-container">
        <div class="container h-32 flex flex-wrap items-center px-5 lg:px-90 py-8 lg:py-0 header-box">
<a id="logo" class="w-full sm:w-1/2 text-center sm:text-left sm:mr-auto" href="/">
  <img class="" src="{{ .Site.Params.logos.logo }}" width="174px">
</a>
{{ partial "site-navigation.html" . }}
</div>
</section>

<div id="mobile-menu" class="mobile-menu" v-bind:class="{ 'mobile-menu-toggle' : menuToggle }">
  <div class="mobile-menu-container">
  <div class="container flex items-center px-5 py-8">
  <a id="mobile-menu-logo" class="flex-1 text-left" href="/">
    <img class="" src="{{ .Site.Params.logos.mobile_menu_logo }}">
  </a>
  <a class="ml-auto w-10 text-center close-menu" v-on:click="menuToggle = !menuToggle"><i class="far fa-times-circle"></i></a>
  </div>
  <ul class="text-center px-0 pt-5 pb-10 mobile-menu-list">
    {{ $currentNode := . }}
    {{ range .Site.Menus.mobile }}
    <li class="pt-2 pb-4 mobile-menu-item">{{ .Pre }}<a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>{{ .Post }}</li>
    {{ end }}
  </ul>
</div>
</div>

</div>