<style>
.contact-button {
  transition: .2s;
}
</style>

<div id="header-functions" class="">

<section id="header" class="header-container">
  <div class="flex flex-wrap items-center pt-8 px-8 md:pt-45 md:px-90 md:h-98 select-none header-box">
    <a id="logo" class="w-1/2 md:w-1/3 lg:w-1/4 mr-auto" href="/">
      <img class="" src="{{ .Site.Params.tracking.cloudinary_url }}{{ .Site.Data.global_data.logos.logo }}" width="130px">
    </a>
    {{ partial "siteNavi.html" . }}
  </div>
</section>

<div class="bg-color-E0484E h-screen mobile-menu">
  <div class="pt-8 px-8 md:pt-45 md:px-90 md:h-98 flex flex-wrap items-center select-none">
    <a id="mobile-menu-logo" class="w-1/2 md:w-1/3 text-left" href="/">
      <img class="" src="{{ .Site.Params.tracking.cloudinary_url }}{{ .Site.Data.global_data.logos.mobile_menu_logo }}" width="120px">
    </a>
    <i class="w-1/2 md:w-2/3 text-3xl text-white text-right fas fa-times close-menu"></i>
  </div>
  <div class="flex flex-wrap pt-12 mobile-menu-list">
    {{ $currentNode := . }}
    {{ range .Site.Menus.mobile }}
    {{ if .HasChildren }}
  <div class="w-4/5 mx-auto font-DIN-Medium pb-8 text-left">
  <a class="text-white text-4xl md:text-5xl font-thin no-underline">
    {{ .Pre }}
      <span>{{ .Name }}</span>
  </a>
    {{ range .Children }}
    <div class="flex flex-wrap p-1">
        <a href="{{ .URL }}" class="w-full text-3xl text-white opacity-50 no-underline leading-tight menu-item">{{ .Name }}</a>
    </div>
    {{ end }}
  </div>
  {{ else }}
      <a class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}w-4/5 mx-auto font-DIN-Medium pb-8 text-left text-white text-4xl md:text-5xl font-thin no-underline" href="{{.URL}}">{{ .Name }}</a>
    {{ end }}{{ end }}
  </div>
</div>

</div>